.about_us_main_banner{
    background-image: url(../img/about_us_main_banner.svg);
    background-repeat: no-repeat;
    background-position: right top;
}
.about_banner_container{
    margin-top: 130px;
    margin-bottom: 64px;
    padding-left: 48px;
}
.about_banner_container h1>span{
    color: #E87D1B;

}
.about_banner_container h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: #1E1E1E;
    margin-bottom: 60px;
}
.about_banner_container p{
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #4B4B4B;
}
@media (min-width:767px) and (max-width:1024px) {
    .about_us_main_banner{
        background-image: none;
    }
    .about_banner_container {
        margin-top: 130px;
        margin-bottom: 64px;
        padding-left: 48px;
        padding-right: 48px;
    }
    .about_banner_container h1{
        font-size: 28px;
    }
    .about_banner_container p{
        font-size: 14px;
    }
}
@media (max-width:767px){
    .about_us_main_banner{
        background-image: none;
    }
    .about_banner_container {
        margin-top: 100px;
        margin-bottom: 64px;
        padding-left: 9px;
        padding-right: 9px;
    }
    .about_banner_container h1{
        font-size: 18px;
        margin-bottom: 16px;
    }
    .about_banner_container p{
        font-size: 12px;
    }
}

.offer_cards_container{
    position: relative;
    background-image: url(../img/our_products_bg.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.offer_cards_container .grid_heading {
    padding-right: 48px;
    padding-left: 48px;
}
@media(max-width:998px){
    .offer_cards_container{
        position: relative;
        background-image: none;
    }
    .offer_cards_container{
        position: relative;
        background-image: none;
    }
    .offer_cards_container .grid_heading {
        padding-right: 48px;
        padding-left: 48px;
    }
}
@media(max-width:767px){
    .offer_cards_container{
        position: relative;
        background-image: none;
    }
    .offer_cards_container{
        position: relative;
        background-image: none;
    }  
    .offer_cards_container .grid_heading {
        padding-right: 24px;
        padding-left: 24px;
    }
    .offer_cards_container h3.mb-5{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 127.7%;
        color: #9C2F2C;
        width: 70%;
        margin: auto;
    }
    .offer_cards_container h5.grid_heading{
        display: none;
    }
}

.pay_mode {
    text-align: center;
    margin-top: 48px;
}
.payment_mode_container .grid_heading{
    padding-right: 48px;
    padding-left: 48px;
}

.value_added_container{
    padding-left: 48px;
    padding-right: 48px;
}
.value_added_container head{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #2C405A;
}
.value_added_container .value_added_content{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    min-height: 350px;
    border-radius: 8px;
    padding: 40px;
    position: relative;
    margin-top: 42px;
}
.value_added_container .value_added_content.card1{
    background-image: url(../img/value_card1.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
.value_added_container .value_added_content.card2{
    background-image: url(../img/value_card2.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
.value_added_container ul li{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
    color: #4B4B4B;
    list-style: none;
}
@media (max-width:998px){
    .value_added_container .value_added_content{
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        min-height: 340px;
        border-radius: 8px;
        padding: 24px 24px 60px 24px;
        margin-top: 24px;
    }
    .value_added_container ul li{
        font-size: 14px;
    }
    
}
@media (max-width:767px){
    .payment_mode_container .grid_heading{
        padding-right: 24px;
        padding-left: 24px;
    }
    .value_added_container{
        padding-left: 9px;
        padding-right: 9px;
    }
    .value_added_container .value_added_content{
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        min-height: inherit;
        border-radius: 8px;
        padding: 24px 24px 60px 24px;
        margin-top: 24px;
    }
    .value_added_container .value_added_content.card1{
        background-image: url(../img/value_card1_sm.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100%;
    }
    .value_added_container .value_added_content.card2{
        background-image: url(../img/value_card2_sm.svg);
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100%;
    }
    .value_added_container ul li{
        font-size: 12px;
    }
    
}



.about_contact_container {
    padding-bottom: 100px;
    padding-left: 48px;
    padding-right: 48px;
    background-image: url(../img/about_contact_bg.svg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 80%;
    background-position-y: 24px;
}
.about_contact_container .about_contact_card{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 40px 24px 40px 40px;
    margin-top: 48px;
}
.about_contact_card p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0.1em;
    color: #4B4B4B;
}
.about_contact_card .contact_logo img{
    width: 76%;
}
.about_contact_card h4{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 136%;
    color: #1E1E1E;
    margin-left: 12px;
    margin-bottom: 24px;
    margin-bottom: 0px;
}
@media (max-width:998px){  
    .about_contact_container {
        background-image: none;
    }
    .about_contact_container .about_contact_card{
        padding: 24px;
        margin-top: 16px;
    }
    .about_contact_card p{
        font-size: 14px;
        line-height: 124%;
        letter-spacing: 0.1em;
    }
    .about_contact_card h4{
        font-size: 22px;
        margin-bottom: 0px;
    }
}

@media (max-width:767px){
    .about_contact_container {
        background-image: none;
    }
    .about_contact_container {
        margin-bottom: 100px;
        padding-left: 9px;
        padding-right: 9px;
    }    
    .about_contact_container .about_contact_card{
        padding: 24px;
        margin-top: 16px;
    }
    .about_contact_card p{
        font-size: 12px;
        line-height: 124%;
        letter-spacing: 0.1em;
    }
    .about_contact_card .contact_logo{
    
    }
    .about_contact_card h4{
        font-size: 20px;
        margin-bottom: 0px;
    }
    .business_blocks_mobile {
        height: auto;
        padding: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .business_blocks, .business_blocks_mobile {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        padding: 20px 20px;
    }
}