.compare_banner {
    background-image: url(../img/compare-banner.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 70px;
}
.comparison_banner_content p.compare-label{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 56px;
    margin-bottom: 48px;
}
.comparison_banner_content {
    text-align: left;
    padding: 0px 48px;
    margin-top: 0rem;
}
.compare-cards{
    display: flex;
}
.compare-card{
    width: calc(25% - 8px);
    background: #FFFFFF;
    border-radius: 10px;
    padding: 85px 32px 20px;
    filter: drop-shadow(0px 4px 24px rgba(85, 29, 29, 0.2));
    height: 380px;
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
}
.compare-card:first-child{
    margin-left: 0px;
}
.compare-card:last-child{
    margin-right: 0px;
}
.compare-card h2{
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 52px;
}
.compare-card p{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #E87D1B;
    margin-bottom: 0px;
}
.compare-card .viewmore{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #E87D1B;
    position: absolute;
    bottom: 20px;
}
.card-classic h2{
    color: #E87D1B;
}
.card-classic p{
    color: #064372;
}
.card-premium{
    margin-top: 50px;
}
.card-premium h2{
    color: #45108A;
}
.card-premium p{
    color: #e87d1b;
}
.card-pro h2{
    color: #551D1D;
}
.card-pro p{
    color: #E87D1B;
}
.card-guest{
    margin-top: 50px;
}
.card-guest h2{
    color: #BD3333;
}
.card-guest p{
    color: #064372;
}

.float-bottom-logo {
    position: absolute;
    right: 0;
    bottom: 0;
}
.classic-card-big-shade {
    position: absolute;
    top: 0;
    right: 0;
}
.classic-card-small-shade {
    position: absolute;
    top: 0;
    left: 0;
}
.premium-card-big-shade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.pro-card-small-shade {
    position: absolute;
    top: 0;
    left: 0;
}
.pro-card-big-shade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.guest-card-big-shade {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}
.card-guest, .card-guest {
    margin-top: 50px;
}

.toggleTabs {
    margin: 72px 72px 0px 72px;
    border-bottom: 2px solid #E7EDF1;
    position: relative;
}

.toggleTabs.nav-pills .nav-link {
    border-top: none;
    color: #787878;
    padding: 16px 0;
    margin-right: 24px;
    background: none;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
}
.tab-content {
    padding: 56px 72px 0px 72px;
}
.product-comparison-container {
    margin-bottom: 160px;
}
.comparison-header {
    background: #FDF2E9;
    border-radius: 12px;
    padding: 24px;
}
.comparison-ease-logo {
    width: 50%;
    margin: auto;
}
.classic-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #E87D1B;
}
.premium-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #45108A;
}
.pro-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #551D1D;
}
.guest-header {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #BD3333;
}
.check-plane {
    display: flex;
    align-items: center;
    min-height: 70px;
    margin: auto;
    min-height: 78px;
}
img{
    max-width: 100%;
}
.check-plane>.col-3>p {
    padding-left: 30%;
}
.check-plane p {
    margin-bottom: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 136%;
    color: #4B4B4B;
}
.check-mark {
    width: 12%;
    margin: auto;
}
.comparison-ease-logo img {
    mix-blend-mode: multiply;
}
.check-plane:nth-child(odd) {
    background-color: #F3FCFE;
    border-radius: 12px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.product-compariosion-collapse {
    padding: 28px 63px;
    background: #FEFCF4;
    border-radius: 12px;
    color: #4B4B4B;
    width: 100%;
    box-shadow: none !important;
    text-align: left;
}
.product-compariosion-collapse[aria-expanded="true"] > span {
    transform: rotateX(180deg);
}
.product-compariosion-collapse > span {
    color: #82A0B8;
    background: #FFFFFF;
    border-radius: 38.7805px;
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 4px 10px;
}
.fa-caret-down:before {
    content: "\f0d7";
}
.table-bg {
    position: absolute;
    bottom: -40px;
    left: -70px;
}
.custom-comp-data.border-bottom-row>div {
    border-bottom: 1px solid #D2D2D2;
    padding: 26px 0px;
}

a>button.btn-icici.icici-primary {
    background-color: #E87D1B;
    color: #fff;
}
.price-comparison-container {
    margin-bottom: 72px;
}
.custom-comp-head {
    padding: 30px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(196, 196, 196, 0.2);
    margin-top: 16px;
}
.head-static-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #064372;
}
.value-header {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #064372;
}
.value-header span {
    font-size: 14px;
    margin: 1px;
}
.fa-rupee:before, .fa-inr:before {
    content: "\f156";
}
.custom-comp-data.border-bottom-row {
    padding: 28px 0px;
    position: relative;
}
.sing-up-left-title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #626262;
    padding-left: 90px;
}
.thin-line-up-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
    margin-bottom: 8px;
    padding-left: 48px;
}
.border-none {
    border-bottom: none!important;
}
.custom-comp-data {
    padding-top: 52px;
}
.custom-comp-data>div.row>.col-3:first-child p {
    padding-left: 36%;
}
.strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
    color: #4B4B4B;
}
a.nav-link.active.show{
    font-weight: 600;
    line-height: 124%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD3333;
    position: relative;
}
a.nav-link.active.show::after{
    content: '';
    position: absolute;
    height: 8px;
    width: 100%;
    background-color: #BD3333;
    bottom: -2px;
    left: 0;
    border-radius: 4px;
}
.thin_table_separator{
    font-size: 16px;
    line-height: 124%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #787878;
    position: relative;
    margin: 24px 0;
}
.thin_table_separator::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: #E7EDF1;
    top: 0;
    width: calc(100% - 155px);
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
}




@media (max-width:767px){
    .mobile_title_header h4{
        font-weight: 600;
        font-size: 18px;
        line-height: 124%;
        color: #1E1E1E;
        padding: 24px;
    }
    .mobile_title_header h4 span{
        font-weight: 600;
        font-size: 18px;
        line-height: 124%;
        color: #E87D1B;
    }

    .compare_banner {
        background-image: none;
    }
    
.toggleTabs {
    margin:0px;
    border-bottom: 1px solid #E7EDF1;
    position: relative;
}
ul#pills-Comparision-tab li {
    width: 50%;
    text-align: center;
}
.toggleTabs.nav-pills .nav-link {
    border-top: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 124%;
    margin-right: 0px;
    padding: 8px 0;
    justify-content: center;
}
.tab-content {
    padding: 12px 0px;
}
.product-comparison-container {
    margin-bottom: 0;
}
.comparison-header {
    background: #FDF2E9;
    border-radius: 8px;
    padding: 24px;
}
.comparison-ease-logo {
    width: 100%;
    margin: auto;
}
.classic-header {
    font-style: normal;
    font-size: 11px;
    line-height: 16px;
}
.premium-header {
    font-size: 11px;
    line-height: 16px;
}
.pro-header {
    font-size: 11px;
    line-height: 16px;
}
.guest-header {
    font-size: 11px;
    line-height: 16px;
}
.check-plane {
    display: flex;
    align-items: center;
    min-height: 70px;
    margin: auto;
    min-height: 112px;

}
img{
    max-width: 100%;
}
.check-plane>.col-3>p {
    padding-left: 4px;
}
.check-plane p {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}
.check-mark {
    width: 48%;
    margin: auto;
}
.comparison-ease-logo img {
    mix-blend-mode: multiply;
}
.check-plane:nth-child(odd) {
    background-color: #F3FCFE;
    border-radius: 8px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.product-compariosion-collapse {
    padding: 28px 63px;
    background:none;
    text-align: center;
    font-weight: 500;
font-size: 14px;
line-height: 21px;
text-align: center;
text-decoration-line: underline;
color: #064372;
}
.product-compariosion-collapse > span {
    display: none;
}
.fa-caret-down:before {
    content: "\f0d7";
}
.table-bg {
    position: absolute;
    bottom: -40px;
    left: -70px;
}
.custom-comp-data.border-bottom-row>div {
    border-bottom: 1px solid #D2D2D2;
    padding: 26px 0px;
}

a>button.btn-icici.icici-primary {
    background-color: #E87D1B;
    color: #fff;
    display: none;
}
.price-comparison-container {
    margin-bottom: 72px;
}
.custom-comp-head {
    padding: 16px 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(196, 196, 196, 0.2);
    margin-top: 16px;
}
.head-static-title {
    font-size: 12px;
    line-height: 18px;
}
.value-header {
    font-size: 14px;
    line-height: 21px;
}
.value-header span {
    display: none;
}
.fa-rupee:before, .fa-inr:before {
    content: "\f156";
}
.custom-comp-data.border-bottom-row {
    padding: 28px 0px;
    position: relative;
}
.sing-up-left-title {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #626262;
    padding-left: 90px;
}
.thin-line-up-text {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #626262;
    margin-bottom: 8px;
    padding-left: 48px;
}
.thin_table_separator{
    font-size: 11px;
    line-height: 124%;
    padding: 16px;
}
.border-none {
    border-bottom: none!important;
}
.custom-comp-data {
    padding-top: 52px;
}
.custom-comp-data>div.row>.col-3:first-child p {
    padding-left: 16px;
    font-size: 12px;
    line-height: 18px;
}
.strong {
    font-size: 12px;
    line-height: 18px;
}
a.nav-link.active.show{
    font-weight: 600;
    line-height: 124%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #BD3333;
    position: relative;
}
a.nav-link.active.show::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 80%;
    background-color: #BD3333;
    bottom: -2px;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
}


.price-comparison-menu{
    padding: 24px;
}
.detailed_expand_card{
    padding: 24px 0;
    border-bottom: 1px solid #E7EDF1;
}
.detailed_expand_card h6{
    font-size: 14px;
    line-height: 136%;
    color: #1E1E1E;
    margin-bottom: 0;
}
}


div#accordionExample .card .card-header{
    padding: 0px;
}
div#accordionExample .card .card-header button{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
div#accordionExample .card .card-header .btn-link[aria-expanded="true"] img{
    transform: rotate(90deg);
}

.product-comparison-container .mobile_banner_comparison{
    width: 100%;   
    margin-bottom: 40px;
}

.product-comparison-container .mobile_banner_comparison img{
    width: 100%;
    height: auto;
}
div#accordionExample .card .card-header h6{
    background-image: none;
}