.contact_banner_container{
    margin-top: 130px;
    margin-bottom: 64px;
    padding-left: 48px;
}
.contact_banner_container h1>span{
    color: #E87D1B;

}
.contact_banner_container h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: #1E1E1E;
    margin-bottom: 60px;
}
.contact_banner_container p{
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #4B4B4B;
}
@media (max-width:991px){

}
@media (max-width:768px){
    .contact_banner_container{
        margin-top: 100px;
        padding-left: 9px;
    }
    .contact_banner_container h1{
        font-size: 18px;
        margin-bottom: 16px;
    }
    .contact_banner_container p{
        font-size: 12px;
    }
}
.contact_ref_container{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 48px 10px;
    margin: 0 48px 48px;
    background-image: url(../img/contact_ref_bg.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    position: relative;
}
.contact_ref_container::after{
    content: '';
    position: absolute;
    background-image: url(../img/bg_contact_ref_line.svg);
    background-size: 100%;
}
.contact_ref_container p.tag{
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #1E1E1E;
}
.contact_ref_container .contact_ref_block h5{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 136%;
    color: #1E1E1E;
    margin-bottom: 0px;
    margin-left: 16px;
}

.contact_ref_content {
    width: 84%;
}
@media (max-width:768px){
    .contact-detail-container .contact_ref_card h5{
        font-weight: 500;
        font-size: 16px;
        line-height: 136%;
        color: #1E1E1E;
        margin-top: 16px;
    }
    .contact-detail-container .contact_ref_card p{
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 124%;
        color: #4B4B4B;
        margin-bottom: 0px;
        margin-left: 6px;
    }
    .contact_ref_card{
        background: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 24px 16px;
        margin: 0px 9px 16px 9px;
        min-height: 129px;
    }
    .tag_svg img {
        width: 74%;
    }
}
.enquiry_detail_container{
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 32px 24px 58px 24px;
    margin: 0 48px 48px;
    background-image: url(../img/enquiry_four_shades.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    position: relative;
}
.enquiry_detail_container::before{
    content: '';
    position: absolute;
    background-image: url();
}
.enquiry_detail_container h2{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: 0.1em;
    color: #1E1E1E;
}
.enquiry_detail_container p{
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #4B4B4B;
    margin-bottom: 46px;
}
.formField .dropdown>button.dropdownButton {
    width: 100%;
    border-radius: 4px;
    border: solid 1px #AAA6A2;
    background-color: #FFFFFF;
    outline: 0;
    text-align: left;
    position: relative;
    text-transform: none;
    padding: 12px 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}
.formField .dropdown>button::placeholder{
    font-size: 16px;
    line-height: 24px;
    color: #A5A5A5;
}
[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.enquiry_detail_container input,.enquiry_detail_container textarea{
    background: #FFFFFF;
    border: 1px solid #AAA6A2;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 12px 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}
.enquiry_detail_container label{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
}
.customDropdown .dropdown-toggle::after {
    position: absolute;
    right: 16px;
    background-image: url(../img/dropdown-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    width: 24px;
    height: 18px;
    content: '';
    border-top: 0 !important;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    -ms-transition: -ms-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}
.dropdown-menu a{
    padding: 12px 16px;
}
.dropdown-menu {
    top: 0px !important;
    width: 100%;
    min-width: 170px;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #f8f9fa;
}
.submit_contact_form>button{
    line-height: 100%;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
    background-color: transparent;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 60px;
    padding: 12px 76px;
}
@media(max-width:998px){

}
@media (max-width:768px){
    .enquiry_detail_container {
        background: none;
        box-shadow:none;
        border-radius: 4px;
        padding: 24px 24px 24px;
        margin: 0px 0px 0px;
        position: relative;
    }
    .px-sm-0{
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .enquiry_detail_container h2{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 124%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #787878;
        margin-bottom: 32px;
    }
    .enquiry_detail_container input,.enquiry_detail_container textarea{
        margin-bottom: 0px;
        font-size: 12px;
        line-height: 18px;
        color: #4B4B4B;
    }
    .formField .dropdown > button.dropdownButton{
        font-size: 14px;
        margin-bottom: 0px;
        line-height: 18px;
    }
    .submit_contact_form>button{
        padding-top: 14px;
        padding-bottom: 14px;
        width: 100%;
        font-size: 14px;
        line-height: 21px;
        margin-top: 32px;
    }
}