.faq_main_banner{
    background-image:url(../img/faq_main_banner.svg);
    background-position: right top;
    background-repeat: no-repeat;
    margin-top: 70px;
}
.faq_banner_content{
    padding: 48px;
    background-image: url(../img/faq_input_bg.svg);
    background-repeat: no-repeat;
    background-position: center left;
    background-position-y: 60px;
}
.faq_banner_content h1>span{
    color: #E87D1B;

}
.faq_banner_content h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: #1E1E1E;
    margin-bottom: 60px;
}
@media (max-width:767px){
    .faq_main_banner {
        background-size: 100%;
    }
    .faq_banner_content h1>span{
        color: #E87D1B;
        font-size: 18px;
    }
    .faq_banner_content h1{
        font-weight: 600;
        font-size: 18px;
        line-height: 124%;
        color: #1E1E1E;
        margin-bottom: 60px;
    }
    .faq_banner_content {
        padding: 24px;
        padding-top: 48px;
        padding-bottom: 0px;
        background-image: none;
    }
    
}
@media (min-width:768px) and (max-width:1024px){
    .faq_main_banner {
        background-size: 100%;
    }
    .faq_banner_content {
        background-image: none;
    }
    .faq_banner_content h1>span{
        color: #E87D1B;
        font-size: 24px;
    }
    .faq_banner_content h1{
        font-weight: 600;
        font-size: 24px;
        line-height: 124%;
        color: #1E1E1E;
        margin-bottom: 60px;
    }
    .faq_main_banner {
        margin-top: 70px;
    }
    .faq_card_container {
        padding-left: 48px;
        padding-right: 48px;
        margin-bottom: 90px;
        position: relative;
        background-image: none;
    }
}





.search_from_content button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: -74px;
}
.search_from_content{
    width: 74%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 156px;
}
form.search_from_content input[type=text] {
    outline: none;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 27px 92px;
    background-image: url(../img/faq_search.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 46px;
    background-position-y: 30px;
    width: 80%;
    z-index: 1;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #1E1E1E;
  }
  form.search_from_content input[type=text]::placeholder{
    color: #8E8E8E;
  }
  form.search_from_content button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
  }
  .faq_card_container{
      padding-left: 48px;
      padding-right: 48px;
      margin-bottom: 90px;
      position: relative;
      background-image: url(../img/faq_card_bg.svg);
      background-repeat: no-repeat;
      background-position: right bottom;
  }

@media (max-width:998px){
    form.search_from_content input[type=text] {
        outline: none;
        border: none;
        background: #FFFFFF;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 50px;
        padding: 27px 92px;
        background-image: url(../img/faq_search.svg);
        background-repeat: no-repeat;
        background-position: left;
        background-position-x: 50px;
        background-position-y: 26px;
        width: 80%;
        z-index: 1;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #1E1E1E;
      }
}

@media (max-width:676px){
    .faq_main_banner {
        margin-top: 70px;
    }
    .faq_card_container {
        padding-left: 9px;
        padding-right: 9px;
        margin-bottom: 90px;
        background-image: none;
    }
    .search_from_content{
        width: 100%;
        margin-top: 46px;
        margin-bottom: 38px;
    }
    .search_from_content button {
        margin-left: -18px;
    }
    form.search_from_content input[type=text] {
        border-radius: 50px;
        padding: 6px 50px;
        background-size: 7%;
        background-position: left center;
        background-position-x: 14px;
        background-position-y:10px ;
        width: 80%;
        z-index: 1;
        font-size: 12px;
        line-height: 18px;
      }
}














.faq_card_container .faq__card {
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(196, 196, 196, 0.2);
    padding: 42px 42px 32px 42px;
    margin-bottom: 16px;
    border-radius: 8px;
    min-height: 340px;
    position: relative;
}
.faq_card_container .faq__card .title-head{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    color: #1E1E1E;
    margin-bottom: 28px;
}

.faq_card_container .faq__card ul li{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #1E1E1E;
    list-style: none;
    margin-bottom: 16px;
}
.faq_card_container .faq__card a{
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    color: #1E1E1E;
    position: absolute;
    bottom: 28px;
}
@media (max-width:998px){

}

@media (max-width:676px){
    .faq_card_container .faq__card .title-head{
        font-size: 18px;
        line-height: 27px;
        margin-bottom: 28px;
    }
    
    .faq_card_container .faq__card ul li{
        font-size: 14px;
        line-height: 21px;
    }
    .faq_card_container .faq__card a{
        font-size: 15px;
        line-height: 22px;
    }
    .faq_card_container .faq__card {
        padding: 24px;
        margin-bottom: 16px;
        border-radius: 8px;
        min-height: 300px;
        position: relative;
    }
}

.page__section{
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #E7E7E7;
}

.page__section .classic-header{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #1E1E1E;
    margin-bottom: 24px;
}
.page__section .bold-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 124%;
    color: #4B4B4B;
    margin-bottom: 10px;
}
.page__section .small-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 124%;
    color: #4B4B4B;
}
.navigation{
    min-height: calc(100vh - 200px);
    padding: 40px 23px;
    position: relative;
}
.navigation.fixed{
    position: fixed;
    width: 450px;
    top: 60px !important;
}
.navigation::after{
    content: '';
    position: absolute;
    background-image: url(../img/navigation_sideheader_bg.svg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    background-repeat: no-repeat;
}
.navigation ul li{
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    padding-left: 32px;
}
.navigation .active{
    background-color: #ED9749;
    color: #FFFFFF;
}
.navigation ul li a.navigation__link{
    font-weight: normal;
    font-size: 18px;
    line-height: 124%;
    color: #1E1E1E; 
}
.navigation ul li.active a.navigation__link{
   color: #FFFFFF;
}
.mb-40{
    margin-bottom: 40px ;
}

@media (max-width:767px){
    .page__section .classic-header{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .page__section .bold-text{
        font-weight: 500;
        font-size: 14px;
        line-height: 124%;
        margin-bottom: 16px;
    }
    .page__section .small-text{
        font-size: 12px;
        line-height: 124%;
        padding-left: 18px;
        padding-right: 18px;
    }
    .faq_search_content {
        padding: 9px;
    }
    .faq_main_banner.swirl{
        background-image:url(../img/faq_content_swirl.svg);
        background-repeat: no-repeat;
        margin-top: 70px;
        background-size: 100%;
    }
    .faq_main_banner.swirl .faq_banner_content h1{
        display: none;
    }
    .page__section {
        padding-top: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #E7E7E7;
    }
    .faq_search_content .page__section:first-child{
        padding-top: 0px;
    }
    .navigation::after{
        content: '';
        position: absolute;
        background-image:none;
    }
}


#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E7EDF1;    
    box-shadow: 0px 4px 4px rgba(135, 207, 255, 0.2);
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 12px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    font-size: 10px;
    line-height: 124%;
    color: #787878;
}
#button:hover {
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(135, 207, 255, 0.7);
}
#button:active {
    box-shadow: 0px 4px 4px rgba(135, 207, 255, 0.7);
}
#button.show {
    opacity: 1;
    visibility: visible;
}