.features_main_banner{
    background-image:url(../img/Feature_Swirls.svg);
    background-position: right top;
    background-repeat: no-repeat;
    margin-top: 70px;
}
.key_features_block_container{
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(196, 196, 196, 0.2);
    border-radius: 8px;
    margin-top: 42px;
}
.features_banner_content h1>span{
    color: #E87D1B;

}
.features_banner_content h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: #1E1E1E;
    margin-top: 48px;
    padding-left: 48px;
}
.static_feature_content{
    padding: 42px;
}
.static_feature_content h5{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #1E1E1E;
}
.static_feature_content p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4B4B4B;
}
.static_feature_content ul li{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4B4B4B;
}
.border_bottom_row{
    position: relative;
}
.border_bottom_row::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 90%;
    background-color: #e9e9e9;
    bottom: 0px;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    
}
.border_left_row{
    position: relative;
}
.border_left_row::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 80%;
    top:0;
    bottom:0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #e9e9e9;
}

.key_features_container{
    padding: 0px 48px;
}
.key_features_container .grid_heading{
    padding-top: 60px;
}
.other_features_container {
    padding: 48px;
}
.other_features_container .static_feature_content{
    padding: 42px 180px 0px 6px;
}
.static_feature_content ul {
    padding-left: 15px;
    margin-bottom: 0;
}
.other_features_container .other_features_block_container {
    background-image: url(../img/other_feature_bg.svg);
    background-repeat: no-repeat;
    background-origin: content-box;
    background-position: right;
}
@media(max-width:767px){
    .features_main_banner{
        background-image:url(../img/Feature_Swirls_sm.svg);
        background-repeat: no-repeat;
        margin-top: 70px;
        background-size: 100%;
    }
    .features_banner_content h1{
        font-size: 24px;
        margin-top: 48px;
        padding-left: 9px;
    }
    .key_features_container {
        padding: 0px 24px;
    }
    .grid_heading {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 24px;
    }
    .key_features_block_container {
        margin-top: 24px;
        background: none;
        box-shadow: none;
        border-radius: none;
    }
    .border_bottom_row::after {
        content: '';
        background-color: #FFFFFF;
    }
    .border_left_row::after{
        content: '';
        background-color: #FFFFFF;
    }
    .static_feature_content {
        padding: 24px;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(196, 196, 196, 0.2);
        border-radius: 8px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 16px;
        min-height: 216px;
    }
    .static_feature_content h5{
        font-size: 16px;    
        line-height: 22px;
    }
    .other_features_container .static_feature_content h5{
        font-size: 16px;    
        line-height: 22px;
        margin-left: -15px;
    }
    .static_feature_content p{
        font-size: 12px;
        line-height: 18px;
    }
    .key_features_container .grid_heading {
        padding-top: 40px;
    }
    .other_features_container {
        padding: 24px;
    }
    .other_features_container .static_feature_content{
        box-shadow: none;
        background: none;
        padding: 12px 24px 12px 15px;
        margin-bottom: 0;
    }
    .static_feature_content ul {
        padding-left: 0px;
    }
    .other_features_container .static_feature_content li{
        font-size: 12px;
        line-height: 24px;
    }
    .other_features_container .other_features_block_container {
        background-image: none;
    }
}