* {
    margin: 0;
    padding: 0;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    outline: none;
}

body,
html {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    letter-spacing: normal;
    min-height: 100%;
    overflow-x: hidden;
}

body.hideScroll {
    /* overflow: hidden;
    height: 100%; */
}

a {
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

a:hover {
    text-decoration: none;
}

.icici__grid {
    width: 1440px;
    height: auto;
    min-height: 20px;
    padding: 0;
    margin: 0 auto;
}

@media (max-width: 1440px) {
    .icici__grid {
        width: 100%;
    }
}

/* header */
header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 15px 0;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

header.activBG, header.alwaysActive {
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.18);
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

header .top__navigation {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header .top__navigation ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: right;
}

header .top__navigation ul li {
    display: inline-block;
    font-size: 15px;
    line-height: normal;
    font-weight: 500;
    color: #fff;
    margin-right: 30px;
}

@media (max-width: 1100px) {
    header .top__navigation ul li {
        margin-right: 15px;
    }
}

header .top__navigation ul li a {
    color: #fff;
}

header.activBG .top__navigation ul li a,
header.header-inner .top__navigation ul li a {
    color: #1e1e1e;
}

header .top__navigation ul li a:hover,
header .top__navigation ul li a.active {
    color: #1e1e1e;
}


#hamburger {
    width: 30px;
    height: 21px;
    position: relative;
    margin: 0;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#hamburger.open span {
    background: #E87D1B;
}

header.activBG #hamburger span, header.alwaysActive #hamburger span {
    background: #E87D1B !important;
}

#hamburger span:nth-child(1) {
    top: 0px;
}

#hamburger span:nth-child(2),
#hamburger span:nth-child(3) {
    top: 9px;
}

#hamburger span:nth-child(4) {
    top: 18px;
}


#hamburger.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburger.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.gap-50 {
    height: 50px;
}

/* main */
main {
    width: 100%;
    height: auto;
}

/* Home */
.main__banner {
    width: 100%;
    height: auto;
    padding-top: 80px;
    min-height: 100vh;
    background-image: url('../img/LandingBgImg_1920.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    display: flex;
    align-items: center;
}

.main__banner .main_banner_container h1 {
    font-weight: 600;
    font-size: 50px;
    color: #1E1E1E;
    margin-bottom: 20px;
}

.main__banner .main_banner_container p {
    font-weight: 400;
    font-size: 20px;
    color: #1E1E1E;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .main__banner {
        min-height: 100vh;
        padding-top: 100px;
        background-image: url('../img/LandingBgImg_mobile.png');
    }
}

@media (max-width: 768px) {
    .main__banner {
        background-image: url('../img/LandingBgImg_mobile1.png');
    }
}

.main__banner .main_banner_mobile h1 {
    font-weight: 600;
    font-size: 28px;
    color: #BD3333;
    margin-bottom: 20px;
}

.home__small__banners {
    width: 100%;
    height: auto;
    min-height: 360px;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .home__small__banners {
        min-height: 300px;
    }
}

@media (max-width: 991px) {
    .home__small__banners {
        min-height: auto;
        display: block;
    }
}

.home__small__banners.image_right::before {
    content: '';
    position: absolute;
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FDF2E9;
    z-index: -1;
    border-radius: 0 50px 50px 0;
}

.home__small__banners.image_left::before {
    content: '';
    position: absolute;
    width: calc(100% - 400px);
    height: 100%;
    top: 0;
    right: 0;
    background-color: #E7EDF1;
    z-index: -1;
    border-radius: 50px 0 0 50px;
}

@media (max-width: 991px) {

    .home__small__banners.image_right::before,
    .home__small__banners.image_left::before {
        content: none
    }

    .home__small__banners.image_right .home_banner_content {
        background-color: #FDF2E9;
    }

    .home__small__banners.image_left .home_banner_content {
        background-color: #E7EDF1;
    }
}

.home__small__banners .home_banner_content {
    width: calc(100% - 660px);
    margin: 80px 0 80px 100px;
    position: relative;
}


@media (max-width: 1024px) {
    .home__small__banners .home_banner_content {
        width: calc(100% - 660px);
        margin: 50px;
    }
}

.home__small__banners .home_banner_content.mobile_left_content {
    position: relative;
}

.home__small__banners .home_banner_content.mobile_left_content::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% - 2px);
    top: 1px;
    right: -37px;
    border-radius: 0 30px 30px 0;
    background-color: #FDF2E9;
    z-index: -1;
}

.home__small__banners .home_banner_content.mobile_right_content::before {
    content: '';
    position: absolute;
    width: 100px;
    height: calc(100% - 2px);
    top: 1px;
    left: -37px;
    border-radius: 30px 0 0 30px;
    background-color: #E7EDF1;
    z-index: -1;
}

@media (max-width: 991px) {
    .home__small__banners .home_banner_content {
        width: 75%;
        margin: 50px 0;
        padding: 50px;
        background-color: #FDF2E9;
    }

    .home__small__banners .home_banner_content.mobile_right_content {
        width: 75%;
        margin: 50px 0 50px 25%;
        background-color: #E7EDF1;
    }
}

@media (max-width: 767px) {
    .home__small__banners .home_banner_content {
        margin: 20px 0;
        padding: 20px;
    }
}

.home__small__banners .home_banner_image {
    width: 660px;
}

@media (max-width: 1024px) {
    .home__small__banners .home_banner_image {
        width: auto;
    }
}

@media (max-width: 991px) {
    .home__small__banners .home_banner_image {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 414px) {
    .home__small__banners .home_banner_image {
        width: 100%;
        margin: 0;
        text-align: center;
    }
}

.home__small__banners.image_left .home_banner_content {
    margin: 80px 80px 80px 0;
}

.home__small__banners .home_banner_content h2 {
    font-size: 40px;
    font-weight: 500;
    color: #1E1E1E;
}

.home__small__banners .home_banner_content p {
    font-size: 18px;
    font-weight: 400;
    color: #1E1E1E;
}

@media (max-width: 767px) {
    .home__small__banners .home_banner_content h2 {
        font-size: 20px;
    }

    .home__small__banners .home_banner_content p {
        font-size: 16px;
    }
}

.business__needs {
    width: 100%;
    height: auto;
    margin-top: 80px;
}

@media (max-width: 991px) {
    .business__needs {
        margin-top: 10px;
    }
}

.business__needs h3 {
    font-size: 30px;
    font-weight: 500;
    color: #9C2F2C;
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .business__needs h3 {
        font-size: 22px;
    }
}

.business_blocks,
.business_blocks_mobile {
    width: 100%;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 0 20px;
}

.business_blocks_mobile {
    height: auto;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.business_blocks_mobile .icon_block {
    width: 90px;
    height: auto;
}

.business_blocks_mobile .business-block-content {
    width: calc(100% - 100px);
    height: auto;
}

.business_blocks_mobile .business-block-content .business_mobile_title {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.business_blocks_mobile .business-block-content .business_mobile_title h6 {
    font-weight: 600;
    font-size: 14px;
    color: #F1B176;
}

.business_blocks_mobile .business-block-content h4 {
    font-weight: 600;
    font-size: 18px;
    color: #1E1E1E;
}

.business_blocks_mobile .business-block-content p {
    font-weight: normal;
    font-size: 14px;
    color: #626262;
}

.business_blocks_mobile .business-block-content .business_mobile_title h5 {
    font-weight: 500;
    font-size: 12px;
    color: #D2D2D2;
    text-align: right;
}

.business_blocks .business-block {
    width: 100%;
    height: auto;
    min-height: 460px;
    padding: 0 30px 30px;
    margin: 0;
}

@media (max-width: 1100px) {
    .business_blocks .business-block {
        padding: 0 20px 30px;
    }
}

@media (max-width: 991px) {
    .business_blocks .business-block {
        padding: 0 30px;
        margin: 0 0 50px 0;
        min-height: 0;
    }
}

.business_blocks .business-block.notitle {
    padding-top: 56px;
}

.business_blocks .business-block.block1,
.business_blocks .business-block.block2,
.business_blocks .business-block.block3 {
    border-right: 1px solid #E9E9E9;
}

@media (max-width: 991px) {
    .business_blocks .business-block.block2 {
        border-right: none;
    }
}

@media (max-width: 575px) {
    .business_blocks .business-block.notitle {
        padding-top: 0;
    }

    .business_blocks .business-block.block1,
    .business_blocks .business-block.block2,
    .business_blocks .business-block.block3 {
        border-right: none;
    }
}

.business_blocks .business-block h4 {
    font-size: 28px;
    font-weight: 600;
    color: #1E1E1E;
}

.business_blocks .business-block h5 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.0400em;
    color: #fff;
    background-color: #9C2F2C;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    margin-bottom: 30px;
}

.business_blocks .business-block h6 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.0400em;
    color: #F1B176;
    margin: 30px 0 5px;
}

.business_blocks .business-block p {
    width: 100%;
    height: auto;
    min-height: 200px;
    font-size: 14px;
    font-weight: 400;
    color: #1E1E1E;
    margin-bottom: 30px;
}

@media (max-width: 1100px) {
    .business_blocks .business-block p {
        min-height: 260px;
    }
}

@media (max-width: 991px) {
    .business_blocks .business-block p {
        min-height: auto;
    }
}

.business_blocks .business-block a {
    font-size: 13px;
    color: #1E1E1E;
    font-weight: 600;
    position: relative;
    display: flex;
    align-items: center;
}

.business_blocks .business-block a:hover {
    color: #E87D1B;
}

.business_needs_bottom {
    width: 100%;
    height: auto;
    margin-top: 30px;
    text-align: right;
}

.business_needs_bottom a {
    font-size: 15px;
    font-weight: 600;
    color: #626262;
    text-decoration: underline;
}

.business_needs_bottom a:hover {
    color: #BD3333;
    text-decoration: underline;
}

.offer-gap {
    height: 50px;
}

.offer__cards__container {
    width: 100%;
    height: auto;
    background-image: url('../img/offer-card-bg.svg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.offer__cards__container .offer-card-row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.offer__cards__container .offer-card-row .offer-card-col {
    width: 50%;
    height: auto;
    min-height: 270px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 10px;
    padding: 32px 16px;
}

.offer__cards__container .offer-card-row .offer-card-col h4 {
    font-size: 26px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 10px;
}

.offer__cards__container .offer-card-row .offer-card-col p {
    font-size: 16px;
    font-weight: 400;
    color: #4B4B4B;
    margin-bottom: 0;
}

.offer__mobile__container {
    width: 100%;
    height: auto;
    padding-right: 110px;
}

.offer__mobile__container h6 {
    font-size: 16px;
    font-weight: 600;
    color: #1E1E1E;
}

.offer__mobile__container p {
    font-size: 15px;
    font-weight: 400;
    color: #1E1E1E;
}

.offer__mobile__container::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    top: -100px;
    right: 0;
    background-image: url('../img/offer-mobile-right-shape.svg');
    background-repeat: no-repeat;
    background-position: top right;
}

.key__features {
    width: 100%;
    height: auto;
    padding: 30px 60px;
    margin-top: 100px;
    background: linear-gradient(99.98deg, #FFBF61 5.05%, #FE8618 76.83%, #FF396D 99.7%);
}

@media (max-width: 991px) {
    .key__features {
        padding: 30px;
        margin-top: 70px;
    }
}

.key__features .key_feature_title {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

@media (max-width: 991px) {
    .key__features .key_feature_title {
        margin-bottom: 40px;
    }
}

.key__features .key_feature_title h4 {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0400em;
    color: #fff;
}

.key__features .key_feature_title a {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display: flex;
    align-items: center;
}

.key__features .key_feature_contents {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 100px 80px;
    position: relative;
}

.key__features .key_feature_contents::before {
    content: '';
    position: absolute;
    top: -40px;
    right: -60px;
    width: 120px;
    height: 370px;
    background-image: url('../img/lines1.svg');
    background-repeat: no-repeat;
}

.key__features .key_feature_contents::after {
    content: '';
    position: absolute;
    bottom: -30px;
    right: -60px;
    width: 255px;
    height: 235px;
    background-image: url('../img/lines2.svg');
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .key__features .key_feature_contents {
        padding: 50px 40px;
    }
}

.key__features .key_feature_contents .key_feature_row {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.key__features .key_feature_contents .key_feature_row .key_feature_col {
    width: 300px;
    height: auto;
    min-height: 100px;
    margin: 15px 15px 30px;
}

.key__features .key_feature_contents .key_feature_row .key_feature_col h4 {
    min-height: 70px;
    font-size: 28px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .key__features .key_feature_contents .key_feature_row .key_feature_col h4 {
        min-height: 60px;
        font-size: 24px;
    }
}

.key__features .key_feature_contents .key_feature_row .key_feature_col p {
    font-size: 16px;
    font-weight: 400;
    color: #1E1E1E;
}

.key__features .key_feature_contents .key_feature_row .key_feature_col a {
    color: #1E1E1E;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.key__feature__mobile {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.key__feature__mobile h4 {
    font-weight: 500;
    font-size: 16px;
    color: #9C2F2C;
    text-align: center;
}

.card {
    background-color: #fff;
    border: none;
    box-shadow: 0px 0.969512px 0.969512px rgba(45, 58, 72, 0.12);
    border-radius: 4px;
}

.card-header {
    padding: 15px 0;
    margin-bottom: 0;
    border-bottom: none;
    background: #FFFFFF;
}

.card-header h6 {
    font-weight: 500;
    font-size: 16px;
    color: #1E1E1E;
    background-image: url('../img/caret-up.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.card-header h6.collapsed {
    background-image: url('../img/caret-down.png');
}

.card-body {
    padding: 15px 0;
}

.card-body p {
    font-size: 12px;
    font-weight: 400;
    color: #4B4B4B;
}

.card-body a {
    font-weight: 600;
    font-size: 14px;
    color: #ED9749;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* cta */
.cta__container {
    width: 100%;
    height: auto;
    padding: 80px 0 40px;
    background-color: #1E1E1E;
    margin-top: 70px;
}

.cta__container h1 {
    font-weight: 500;
    font-size: 48px;
    color: #fff;
    margin-bottom: 30px;
}

/* footer */
footer {
    width: 100%;
    height: auto;
    padding: 80px 0 40px;
    background-color: #1E1E1E;
    position: relative;
    z-index: 100;
}

.footer_container_col {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 20px;
}


.footer_container_col.footer_last_col {
    text-align: right;
}

@media (max-width: 991px) {
    .footer_container_col.footer_last_col {
        text-align: left;
    }
}





.footer_container_col h6 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 24px;
    text-transform: uppercase;
    color: #fff;
}

.footer_container_col ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer_container_col ul li {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
}

.footer_container_col ul li a {
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.footer_container_col ul li a:hover {
    color: #E87D1B;
}

.footer-text {
    text-align: right;
    font-weight: normal;
    font-size: 14px;
    color: #A5A5A5;
    font-style: italic;
    margin-top: 10px;
}


/* mobile menu */
.mobile_menu_container, .mobile_product_container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 120px 20px 0;
    background-color:#fff;
    z-index: 999;
    display: none;
    opacity: 0;
}
.mobile_product_container {
    z-index: 1000;
}

@media (max-width: 414px) {
    .mobile_menu_container {
        padding: 120px 10px 0;
    }
}

.mobile_menu_container ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile_menu_container ul li {
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    color: #113D6A;
    margin-bottom: 25px;
}

.mobile_menu_container ul li a {
    color: #113D6A;
}
.mobile_menu_container ul li a.active {
    color: #E87D1B;
}



/* products */
.product__banner {
    width: 100%;
    height: auto;
    min-height: 400px;
    margin-top: 130px;
    margin-bottom: 50px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
}

@media (max-width: 991px) {
    .product__banner {
        margin-top: 0;
        margin-bottom: 0;
        padding: 130px 20px 50px;
        background-position: top right;
        background-size: 150px;
    }

    .product_banner_padding {
        padding: 0;
    }
    .footer-text {
        text-align: center;
    }
    .footer_logo.text-right {
        margin: auto;
        text-align: center!important;
    }
}

.product__banner p {
    width: 50%;
}

@media (max-width: 767px) {
    .product__banner p {
        width: 90%;
    }
    .footer-text {
        text-align: center;
    }
    .footer_logo.text-right {
        margin: auto;
        text-align: center!important;
    }
}

.product__banner.classic-bg {
    background-image: url('../img/Classic_Shape.svg');
}

.product__banner.premium-bg {
    background-image: url('../img/Premium_Shape.svg');
}

.product__banner.pro-bg {
    background-image: url('../img/Pro_Shape.svg');
}

.product__banner.guest-bg {
    background-image: url('../img/Guest_Shape.svg');
}

@media (max-width: 991px) {
    .product__banner.classic-bg {
        background-image: url('../img/Classic_Menu.svg');
    }

    .product__banner.premium-bg {
        background-image: url('../img/Premium_Menu.svg');
    }

    .product__banner.pro-bg {
        background-image: url('../img/Pro_Menu.svg');
    }

    .product__banner.guest-bg {
        background-image: url('../img/Guest_Menu.svg');
    }
}

.product__key_feature {
    width: 100%;
    height: auto;
    padding: 0 50px;
}

@media (max-width: 991px) {
    .product__key_feature {
        padding: 0;
    }
}

.product__key_feature h4 {
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #787878;
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .product__key_feature h4 {
        font-size: 18px;
    }
}

.product__key_feature .product_key_feature_block {
    width: 100%;
    height: auto;
    padding: 50px 50px 10px;
    margin-bottom: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(196, 196, 196, 0.4);
}

@media (max-width: 991px) {
    .product__key_feature .product_key_feature_block {
        padding: 25px;
        margin-bottom: 30px;
    }
}

.product_key_feature_row {
    width: 100%;
    height: auto;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    justify-content: space-between;
}

.product_key_feature_col {
    width: 300px;
    height: auto;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .product_key_feature_col {
        width: 100%;
        margin-bottom: 15px;
    }
}

.product_key_feature_col h3 {
    font-weight: 600;
    font-size: 28px;
    color: #1E1E1E;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .product_key_feature_col h3 {
        font-weight: 600;
        font-size: 18px;
        color: #2C405A;
        margin-bottom: 15px;
    }
}

.product_key_feature_col p {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #4B4B4B;
    margin: 0;
}

.payment__modes {
    width: 100%;
    height: auto;
}

.payment__modes .payment_mode_row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.payment__modes .payment_mode_row .payment_mode_col {
    width: 110px;
    height: auto;
}

.payment__modes .payment_mode_row .payment_mode_col .payment_mode_logo {
    width: 100%;
    height: auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment__modes .payment_mode_row .payment_mode_col .payment_mode_title {
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    color: #E87D1B;
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .payment__modes .payment_mode_row .payment_mode_col .payment_mode_title {
        font-size: 12px;
    }
}

.product_pricing_title {
    font-weight: normal;
    font-size: 16px;
    color: #4B4B4B;
    text-align: left;
    margin-bottom: 15px;
}

.product_pricing_price {
    font-weight: 600;
    font-size: 16px;
    text-align: right;
    color: #1E1E1E;
}

@media (max-width: 575px) {

    .product_pricing_title,
    .product_pricing_price {
        font-size: 13px;
    }
}

.product_pricing_price span {
    font-weight: normal;
    font-size: 14px;
    color: #4B4B4B;
}

.product_pricing_note {
    text-align: right;
    margin-bottom: 30px;
    font-size: 14px;
    color: #8E8E8E;
}

.product_big_price {
    width: 100%;
    height: calc(100% - 30px) !important;
    height: auto;
    padding-right: 40px;
    padding-top: 0;
    border-right: 2px dashed #E7E7E7;
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 991px) {
    .product_big_price {
        height: 100% !important;
        padding-right: 0;
        padding-top: 40px;
        border-right: none;
        border-top: 2px dashed #E7E7E7;
    }
}

.product_big_price img {
    width: 80%;
}

.product_big_price p {
    font-weight: normal;
    font-size: 20px;
    color: #064372;
    margin: 15px 0 25px;
}

.product_big_price p.product_big_price_note {
    font-weight: normal;
    font-size: 14px;
    color: #A5A5A5;
}

.product_big_price small {
    font-weight: normal;
    font-size: 12px;
    color: #787878;
}

.class-bg-element1,
.class-bg-element2 {
    position: relative;
    z-index: 1;
}

.class-bg-element1::before {
    content: '';
    position: absolute;
    top: -20px;
    right: -40px;
    width: 660px;
    height: 360px;
    background-image: url('../img/Classic_Bg_Element1.svg');
    background-repeat: no-repeat;
    z-index: -1;
}

.class-bg-element1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 660px;
    height: 360px;
    background-image: url('../img/Classic_Bg_Element1.svg');
    background-repeat: no-repeat;
    z-index: -1;
}

.class-bg-element2::before {
    content: '';
    position: absolute;
    top: -30px;
    right: -40px;
    width: 275px;
    height: 460px;
    background-image: url('../img/Classic_Bg_Element2.svg');
    background-repeat: no-repeat;
    z-index: -1;
}

.grid_heading{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 124%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #787878;
    padding-left: 15px;
    padding-top: 100px;
}
@media (max-width:998px){
    .grid_heading{
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 124%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #787878;
    }
}
@media (max-width:767px){
    .grid_heading{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 124%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #787878;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 64px;
    } 
}


.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: #D2D2D2;
    border: 2px solid #D2D2D2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
    top: -1px;
  }
  
  .form-group input + label:after, .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 6px;
    height: 12px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  .form-group input:checked + label:before {
    background-color: #ED9749;
    border: 2px solid #ED9749;
  }
  .card_banner{
    background-image: url('../img/comparison-plus.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  @media (max-width:767px){
      .card_banner{
        background-color: #FFFFFF;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        margin-left: 24px;
        margin-right: 24px;
        
      }
      .card_banner .block {
          padding: 32px 22px;
      }
      .card_banner .block h6{
        color: #F1B176;
        font-size: 12px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 0;
      }
      .card_banner .block h4{
        color: #1E1E1E;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
    }
    .card_banner .block>div {
        width: 76%;
        margin-bottom: 16px;
        margin-left: -6px;
    }
    .mobile_banner_comparison{
        background-image: url(../img/mobile_banner_comparison_\ bg.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        padding-top: 82px;
    }
    button.btn-icici.icici-sign-primary.ml-2 {
        min-width: 100%;
    }
    .navigation_text{
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        text-decoration-line: underline;
        color: #064372;
    }
    .mobile_product_container>div.container-fluid>div.row>div:nth-child(3){
        margin-top: 22px;
    }
  }
  .icici-sign-primary{
      background-color:#F1B176!important;
      color: #ffffff;
  }