button.btn-icici {
    width: auto;
    height: 40px;
    outline: none;
    box-shadow: none;
    padding: 8px 36px;
    font-size: 15px;
    line-height: 100%;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    display: inline-block;
    background-color: transparent;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

button.btn-icici:hover {
    cursor: pointer;
    transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

button.icici-primary {
    background-color: #fff;
    color: #E87D1B;
}


button.icici-primary:hover {
    color: #1e1e1e;
}

button.icici-classic {
    background: linear-gradient(281.85deg, #FFBF61 -1.37%, #FE8618 56.77%, #FF396D 121.68%);
    color: #fff;
}

button.icici-premium {
    background: linear-gradient(288.17deg, #45108A 2.28%, #3D065F 29.57%, #10054D 101.35%);
    color: #fff;
}

button.icici-pro {
    background: linear-gradient(288.17deg, #551D1D 2.28%, #752021 12.36%, #1E1E1E 62.38%);
    color: #fff;
}

button.icici-guest {
    background: linear-gradient(100.44deg, #9C2F2C 5.85%, #752021 78.5%, #390000 108.2%);
    color: #fff;
}

button.icici-secondary {
    background-color: #E87D1B;
    color: #fff;
}

button.icici-secondary:hover {
    color: #1e1e1e;
}


button.icici-primary-outline {
    border: 2px solid #FFFFFF;
    color: #fff;
}

button.icici-primary-outline:hover {
    border: 2px solid #1e1e1e;
    color: #1e1e1e;
}

button.icici-secondary-outline {
    border: 2px solid #E87D1B;
    color: #E87D1B;
}

button.icici-secondary-outline:hover {
    border: 2px solid #1e1e1e;
    color: #1e1e1e;
}

button.footer-btn {
    padding: 8px 10px;
}

header.activBG button.icici-primary,
header.header-inner button.icici-primary {
    background-color: #E87D1B;
    color: #fff;
}

header.activBG button.icici-primary-outline,
header.header-inner button.icici-primary-outline {
    border: 2px solid #E87D1B;
    color: #E87D1B;
}



.dropdown-menu {
    top: 10px !important;
    min-width: 170px;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0px;
}

.dropdown-menu.customDD a {
    display: block;
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 400;
    padding: 8px 10px;
    border: 1px solid #fff;
}

.dropdown-menu.customDD a:hover,
.dropdown-menu.customDD a.active {
    color: #E87D1B;
    border: 1px solid #E87D1B;
}


/* modal */
.modal-content {
    padding: 30px;
}

@media (max-width: 767px) {
    .modal-content {
        padding: 20px;
    }
}

.modal__title__container {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__title__container h1 {
    font-weight: 600;
    font-size: 30px;
    color: #E87D1B;
}

.modal__title__container h1.color-black {
    color: #1E1E1E;
}

@media (max-width: 767px) {
    .modal__title__container h1 {
        font-size: 24px;
    }
}

.modal__title__container .close-modal {
    cursor: pointer;
}

.modal__body__content p {
    font-weight: normal;
    font-size: 14px;
    color: #AAA6A2;
    margin-bottom: 20px;
}

.modal__body__content ul {
    padding-left: 20px;
}

.modal__body__content ul li {
    font-weight: normal;
    font-size: 16px;
    color: #1E1E1E;
    margin-bottom: 10px;
}

.modal__body__content .login__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form_row {
    width: 100%;
    height: auto;
}

.form_row_half {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.form_row_half .form_row {
    width: calc(50% - 10px);
}

.form_row label {
    font-weight: normal;
    font-size: 16px;
    color: #4B4B4B;
    margin: 0;
}

.form_row input {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #1E1E1E;
    background: #FFFFFF;
    border: 1px solid #C9C9CF;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 12px 24px;
}

.login__links a {
    color: #1E1E1E;
}

.login__links a:hover {
    color: #E87D1B;
}

.modal-open {
    padding: 0 !important;
}

