.integration_banner_content h1>span{
    color: #E87D1B;

}
.integration_banner_content h1{
    font-weight: 600;
    font-size: 48px;
    line-height: 124%;
    color: #1E1E1E;
    margin-top: 128px;
    margin-bottom: 78px;
} 
.support_item_card{
    border: 1px solid #E87D1B;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 34px 24px;
    min-height: 300px;
    position: relative;
    margin-bottom: 58px;
}
.support_item_card.card1::before {
    content: '';
    position: absolute;
    background-image: url(../img/platform_sdk_text.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 28%;
    height: 43%;
    top: -16px;
    left: 18px;
}
.support_item_card.card1::after{
    content: '';
    position: absolute;
    background-image: url(../img/sdk_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10%;
    height: 100%;
    right: 42px;
    top: 32px;
}
.support_item_card.card2::before {
    content: '';
    position: absolute;
    background-image: url(../img/eccomerce_plugin_text.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 36%;
    height: 43%;
    top: -16px;
    left: 18px;
}
.support_item_card.card2::after{
    content: '';
    position: absolute;
    background-image: url(../img/eccomerce_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10%;
    height: 100%;
    right: 42px;
    top: 32px;
}
.support_item_card.card3::before {
    content: '';
    position: absolute;
    background-image: url(../img/server_text.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 38%;
    height: 43%;
    top: -16px;
    left: 18px;
}
.support_item_card.card3::after{
    content: '';
    position: absolute;
    background-image: url(../img/server_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10%;
    height: 100%;
    right: 42px;
    top: 32px;
}
.support_item_card.card4::before {
    content: '';
    position: absolute;
    background-image: url(../img/community_text.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 46%;
    height: 43%;
    top: -16px;
    left: 18px;
}
.support_item_card.card4::after{
    content: '';
    position: absolute;
    background-image: url(../img/communities_logo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 10%;
    height: 100%;
    right: 42px;
    top: 32px;
}
.support_item_card ul li{
    list-style: none;
    font-weight: normal;
    font-size: 16px;
    line-height: 124%;
    color: #1E1E1E;
}
.integration_main_banner, .integration_support_content{
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}
.integration_support_detail{
    padding-bottom: 48px;
    position: relative;
}
.integration_support_content{
    background-image: url(../img/integration_bg.svg);
    background-repeat: no-repeat;
    background-position: right bottom -240px;
    width: 100%;
}
.integration_support_detail h6{
    font-size: 16px;
    line-height: 124%;
    color: #1E1E1E;
}
.integration_support_detail h2{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 124%;
    color: #1E1E1E;   
    margin-left: 16px;
}


@media (max-width:767px){
    .integration_support_content{
        background-image: none;
    }
    .integration_main_banner{
        background-image:url(../img/Feature_Swirls_sm.svg);
        background-repeat: no-repeat;
        margin-top: 70px;
        background-size: 100%;
    }
    .integration_banner_content h1{
        font-size: 24px;
        margin-top: 88px;
        padding-left: 9px;
        margin-bottom: 40px;
    }
    .integration_main_banner, .integration_support_content {
        padding-left: 9px;
        padding-right: 9px;
    }
    .support_item_card{
        padding: 42px 32px 24px 16px;
        min-height: inherit;
    }
    .support_item_card ul li{
       font-size: 14px;
    }
    .support_item_card.card1::before {
        content: '';
        position: absolute;
        background-image: url(../img/platform_sdk_text.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 48%;
        height: 43%;
        top: -16px;
        left: 6px;
    }
    .support_item_card.card1::after {
        content: '';
        position: absolute;
        background-image: url(../img/sdk_logo.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 18%;
        height: 100%;
        right: -2px;
        top: -40px;
        margin: 12px;
        padding: 12px;
        background-color: #ffffff;
    }
    .support_item_card.card2::before {
        content: '';
        position: absolute;
        background-image: url(../img/eccomerce_plugin_text.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 62%;
        height: 43%;
        top: -16px;
        left: 6px;
    }
    .support_item_card.card2::after {
        content: '';
        position: absolute;
        background-image: url(../img/eccomerce_logo.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 18%;
        height: 100%;
        right: -2px;
        top: -36px;
        margin: 12px;
        padding: 12px;
        background-color: #ffffff;
    }
    .support_item_card.card3::before {
        content: '';
        position: absolute;
        background-image: url(../img/server_text.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 64%;
        height: 43%;
        top: -16px;
        left: 6px;
    }
    .support_item_card.card3::after {
        content: '';
        position: absolute;
        background-image: url(../img/server_logo.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 18%;
        height: 100%;
        right: -2px;
        top: -30px;
        margin: 12px;
        padding: 12px;
        background-color: #ffffff;
    }
    .support_item_card.card4::before {
        content: '';
        position: absolute;
        background-image: url(../img/community_text_sm.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 45%;
        height: 43%;
        top: -24px;
        left: 6px;
    }
    .support_item_card.card4::after {
        content: '';
        position: absolute;
        background-image: url(../img/communities_logo.svg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 18%;
        height: 100%;
        right: -2px;
        top: -30px;
        margin: 12px;
        padding: 12px;
        background-color: #ffffff;
    }
    .integration_support_detail{
        margin-bottom: 100px;
    }
    .integration_support_detail h6{
        font-size: 12px;
        line-height: 124%;
        margin-left: 8px;
        margin-bottom: 0px;
    }
    .integration_support_detail h2{
        font-weight: 500;
        font-size: 16px;
        line-height: 136%;
        margin-bottom: 0px;
        margin-left: 0px;
    }
    .integration_support_detail img {
        width: 6%;
    }
}