
.table-scroll {
    position: relative;
    width:100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
  }
  .table-scroll table {
    width: 100%;
    min-width: 700px;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
  }
  .table-wrap {
    position: relative;
  }
  .table-scroll th,
  .table-scroll td {
    padding: 5px 10px;
    border: 1px solid #000;
    background: #fff;
    vertical-align: top;
  }
  .table-scroll thead th {
    background: #333;
    color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  /* safari and ios need the tfoot itself to be position:sticky also */
  .table-scroll tfoot,
  .table-scroll tfoot th,
  .table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #666;
    color: #fff;
    z-index:4;
  }
  
  a:focus {
    background: red;
  } /* testing links*/
  
  th:first-child {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    z-index: 2;
    background: #ccc;
  }
  thead th:first-child,
  tfoot th:first-child {
    z-index: 5;
  }
  table#main-table {
    margin-top: 0;
}  
.table-scroll th, .table-scroll td{
    border: none;
}
.table-scroll tr{
    border-bottom: 1px solid #eeeeee;
}
th:first-child{
    background-color: #FFFFFF;
    /* box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px; */

}
.scroll_head{
  min-height: 150px;
}
.scroll_head p{
    margin-bottom: 0;
    font-weight: 600;
    font-size: 11px;
    line-height: 127.7%;
    color: #626262;
}
.scroll_head h5{
    font-weight: 600;
    font-size: 16px;
    line-height: 127.7%;
    color: #1E1E1E;
    margin-bottom: 14px;
}
.scroll_head a{
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #E87D1B;
}
.table_float_content li{
    list-style: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #4B4B4B;
}

.thead_shadow{
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}